/* VARIÁVEIS */
:root {
    --primary: #003366;
    --accent: #ff9900;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f8fafc;
}

/* HEADER FIXO */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 15px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 15px rgba(0,0,0,0.08);
    z-index: 1000;
}

/* AGRUPA LOGO + TEXTO */
.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* LOGO */
header img {
    height: 50px;
}

/* TÍTULO */
header h1 {
    font-size: 39px;
    color: var(--primary);
    font-weight: 700;
}

/* MENU */
nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
    padding: 5px 10px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: var(--accent);
}

nav ul li a.active {
    border-bottom: 2px solid var(--accent);
}

/* MAIN */
main {
    margin-top: 110px;
    padding: 40px 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* TÍTULO */
h2 {
    color: var(--primary);
    margin-bottom: 20px;
}

/* CURSOS */
.curso-card {
    width: 100%;
    max-width: 700px;
    background: #fff;
    padding: 40px;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    border-left: 5px solid var(--accent);
    transition: 0.3s;
}

.curso-card:hover {
    transform: scale(1.02);
}

/* IMAGEM */
.curso-card img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    margin: 15px 0;
}

/* TEXTO */
.curso-card h3 {
    
    color: var(--primary);
    margin-bottom: 10px;
}

.curso-card p {
    font-size: 0.95rem;
}

/* BOTÃO */
.btn-voltar {
    display: inline-block;
    margin-top: 30px;
    background: var(--accent);
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-voltar:hover {
    transform: translateY(-3px);
}

/* FOOTER */
footer {
    background: var(--primary);
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

/* SELEÇÃO */
::selection {
    background: var(--accent);
    color: white;
}
